.logo__container-top {
}

.contacts__container {
  margin-left: 0;
  margin-top: 15px;
}

.logo__container {
  width: 250px;
}

.contacts__number {
  width: 190px;
}

.header,
.footer {
  display: table;
}

.logo__container-top,
.logo__container,
.footer-menu,
.footer-contacts__container,
.contacts__container {
  display: table-cell;
  vertical-align: middle;
}

.footer-menu {
  padding-left: 50px;
}

.top-menu__container {
  display: table;
}

.top-menu__link {
  display: table-cell;
  padding-right: 40px;
}

.pagination__prev {
  width: 125px;
}

.services-menu__row-one,
.services-menu__row-two {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.services-menu__row-one {
  margin-right: 20px;
}

.content {
  height: auto;
}
