{% extends "company/page_base.html" %}

{% set the_map = '<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=4tO1pav_bha_ZtKG61VnxKozbWOKdkIU&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>' %}

{% block content %}

  <article class="article">
    {{ page.content | replace_shortcodes | safe }}

    <h2>Форма обратной связи</h2>

    <p>Все возникшие у вас вопросы вы можете оставить в представленной ниже форме:</p>

    <form id="form-lead" class="jurist" action="/sender" name="jurist" method="post">

      <div class="jurist__container">
        <label class="jurist__label" for="yourname">Ваше имя*</label>
        <input class="jurist__name" type="text" id="yourname" name="name" tabindex="11">
      </div>

      <div class="jurist__container">
        <label class="jurist__label" for="yourphone">Телефон*</label>
        <input class="jurist__phone" type="text" id="yourphone" name="phone" tabindex="12">
      </div>

      <div class="jurist__container">
        <label class="jurist__label" for="question">Вопрос</label>
        <textarea class="jurist__question" name="question" id="question" placeholder="Введите свой вопрос" tabindex="13"></textarea>
      </div>

      <div class="jurist__footer">
        <button class="ask__submit-btn" type="submit" tabindex="14">Задать вопрос</button>
      </div>
    </form>


  </article>

{% endblock %}
