{% extends "company/page_base.html" %}

{% block content %}

  <article class="article">
    <h1>Отзывы о нашей работе</h1>

    <p>Если вы уже воспользовались услугами нашей компании, пожалуйста, не забудьте оставить письменный отзыв у нас в офисе. Нам очень важно знать ваше мнение о нас.</p>

    <div class="photo-review">

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_01.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_01.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_02.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_02.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_03.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_03.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_04.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_04.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_05.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_05.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_06.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_06.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_07.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_07.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_08.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_08.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_09.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_09.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_10.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_10.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_11.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_11.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_12.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_12.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_13.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_13.jpg') }}" alt="Отзыв">
      </a>

      <a class="photo-review__item"
         href="{{ url_for('static', filename='company/img/feedback_14.jpg') }}"
         data-lightbox="review1">
        <img src="{{ url_for('static', filename='company/img/feedback_14.jpg') }}" alt="Отзыв">
      </a>



    </div>

  </article>

{% endblock %}

